# Dependências
node_modules/

# Cobertura de testes
cobertura/
coverage/

# Cypress
testes/e2e/screenshots/
testes/e2e/videos/
testes/e2e/fixtures/

# Build
dist/
build/

# Configurações
*.config.js
*.config.cjs
jest.config.cjs
cypress.config.cjs
